In [1]:
import numpy as np
import matplotlib.pyplot as plt  
import pandas as pd  
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm

In [2]:
twtr = pd.read_csv('TWTR.csv')
twtr['Date'] =pd.to_datetime(twtr.Date)
twtr.sort_values('Date')

,Date,Open,High,Low,Close,Adj Close,Volume
0,2020-01-02,32.310001,32.500000,31.959999,32.299999,32.299999,10721100
1,2020-01-03,31.709999,32.099998,31.260000,31.520000,31.520000,14429500
2,2020-01-06,31.230000,31.709999,31.160000,31.639999,31.639999,12582500
3,2020-01-07,31.799999,32.700001,31.719999,32.540001,32.540001,13712900
4,2020-01-08,32.349998,33.400002,32.349998,33.049999,33.049999,14632400
...,...,...,...,...,...,...,...
206,2020-10-26,50.000000,50.650002,48.400002,49.000000,49.000000,22804000
207,2020-10-27,49.500000,51.509998,49.139999,51.270000,51.270000,19306200
208,2020-10-28,49.599998,50.000000,48.250000,48.529999,48.529999,20168100
209,2020-10-29,51.950001,52.930000,50.570000,52.430000,52.430000,55935600
210,2020-10-30,44.529999,45.180000,40.830002,41.360001,41.360001,86346700

In [3]:
print(twtr.head())

        Date       Open       High        Low      Close  Adj Close    Volume
0 2020-01-02  32.310001  32.500000  31.959999  32.299999  32.299999  10721100
1 2020-01-03  31.709999  32.099998  31.260000  31.520000  31.520000  14429500
2 2020-01-06  31.230000  31.709999  31.160000  31.639999  31.639999  12582500
3 2020-01-07  31.799999  32.700001  31.719999  32.540001  32.540001  13712900
4 2020-01-08  32.349998  33.400002  32.349998  33.049999  33.049999  14632400

In [4]:
print(twtr.tail())

          Date       Open       High        Low      Close  Adj Close  \
206 2020-10-26  50.000000  50.650002  48.400002  49.000000  49.000000
207 2020-10-27  49.500000  51.509998  49.139999  51.270000  51.270000
208 2020-10-28  49.599998  50.000000  48.250000  48.529999  48.529999
209 2020-10-29  51.950001  52.930000  50.570000  52.430000  52.430000
210 2020-10-30  44.529999  45.180000  40.830002  41.360001  41.360001

       Volume
206  22804000
207  19306200
208  20168100
209  55935600
210  86346700

In [5]:
#print(twtr['Adj Close'].describe().round(decimals=3))
print( 'Mean: ' + str(round((twtr['Adj Close'].mean()),3)))
print('Stdv: ' + str(round((twtr['Adj Close'].std()),3)))
print( 'Min: ' + str(round((twtr['Adj Close'].min()),3)))
print( 'Max : ' + str(round((twtr['Adj Close'].max()),3)))

Mean: 35.087
Stdv: 6.39
Min: 22.0
Max : 52.43

In [6]:
stock_returns = twtr[['Date', 'Open', 'Close']].copy()
stock_returns['Stock Return']= stock_returns['Close'].pct_change()
del stock_returns['Open']
del stock_returns['Close']
stock_returns = stock_returns.dropna()
print(stock_returns.head())

        Date  Stock Return
1 2020-01-03     -0.024149
2 2020-01-06      0.003807
3 2020-01-07      0.028445
4 2020-01-08      0.015673
5 2020-01-09      0.005144

In [7]:
print(stock_returns.tail())

          Date  Stock Return
206 2020-10-26     -0.028549
207 2020-10-27      0.046327
208 2020-10-28     -0.053443
209 2020-10-29      0.080363
210 2020-10-30     -0.211139

In [8]:
print(stock_returns.head().sort_values('Stock Return', ascending = False))

        Date  Stock Return
3 2020-01-07      0.028445
4 2020-01-08      0.015673
5 2020-01-09      0.005144
2 2020-01-06      0.003807
1 2020-01-03     -0.024149

In [9]:
print(stock_returns.tail().sort_values('Stock Return', ascending = False))

          Date  Stock Return
209 2020-10-29      0.080363
207 2020-10-27      0.046327
206 2020-10-26     -0.028549
208 2020-10-28     -0.053443
210 2020-10-30     -0.211139

In [10]:

print( 'Mean: ' + str(round((stock_returns['Stock Return'].mean()),6)))
print( 'Median: ' + str(round((stock_returns['Stock Return'].median()),6)))
print( 'Variance: ' + str(round((stock_returns['Stock Return'].var()),6)))
print('Stdv: ' + str(round((stock_returns['Stock Return'].std()),6)))
print( 'Min: ' + str(round((stock_returns['Stock Return'].min()),6)))
print( 'Max: ' + str(round((stock_returns['Stock Return'].max()),6)))
print( 'Variance: ' + str(round((stock_returns['Stock Return'].max()),6)))
print( 'Skew: ' + str(round((stock_returns['Stock Return'].skew()),6)))
print( 'Kurtosis: ' + str(round((stock_returns['Stock Return'].kurtosis()),6)))

Mean: 0.002065
Median: 0.001897
Variance: 0.001736
Stdv: 0.04166
Min: -0.211139
Max: 0.150344
Variance: 0.150344
Skew: -0.779875
Kurtosis: 5.439541

In [11]:
mkt_returns = pd.read_csv('^GSPC.csv')

In [12]:
mkt_returns.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2020-01-02,3244.669922,3258.139893,3235.530029,3257.850098,3257.850098,3458250000
1,2020-01-03,3226.360107,3246.149902,3222.340088,3234.850098,3234.850098,3461290000
2,2020-01-06,3217.550049,3246.840088,3214.639893,3246.280029,3246.280029,3674070000
3,2020-01-07,3241.860107,3244.909912,3232.429932,3237.179932,3237.179932,3420380000
4,2020-01-08,3238.590088,3267.070068,3236.669922,3253.050049,3253.050049,3720890000

In [13]:
mkt_returns = mkt_returns[['Date', 'Open', 'Close']].copy()
mkt_returns['Mkt Return']= mkt_returns['Close'].pct_change()
del mkt_returns['Open']
del mkt_returns['Close']
mkt_returns = mkt_returns.dropna(how='any')
mkt_returns.head()

         Date  Mkt Return
1  2020-01-03   -0.007060
2  2020-01-06    0.003533
3  2020-01-07   -0.002803
4  2020-01-08    0.004902
5  2020-01-09    0.006655

In [14]:
print(mkt_returns.tail())

           Date  Mkt Return
206  2020-10-26   -0.018590
207  2020-10-27   -0.003026
208  2020-10-28   -0.035288
209  2020-10-29    0.011947
210  2020-10-30   -0.012130

In [15]:
mkt_ret_df = mkt_returns[['Mkt Return']].dropna()
stock_ret_df = stock_returns[['Stock Return']].dropna()

In [16]:
res = sm.OLS(stock_ret_df, mkt_ret_df).fit()
stock_returns = np.array(stock_ret_df)
mkt_returns = np.array(mkt_ret_df)

res.predict(mkt_returns)
print(res.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:           Stock Return   R-squared (uncentered):                   0.422
Model:                            OLS   Adj. R-squared (uncentered):              0.419
Method:                 Least Squares   F-statistic:                              152.6
Date:                Tue, 08 Dec 2020   Prob (F-statistic):                    1.12e-26
Time:                        14:33:52   Log-Likelihood:                          427.25
No. Observations:                 210   AIC:                                     -852.5
Df Residuals:                     209   BIC:                                     -849.2
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Mkt Return     1.1527      0.093     12.353      0.000       0.969       1.337
==============================================================================
Omnibus:                       48.890   Durbin-Watson:                   2.005
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              677.902
Skew:                          -0.306   Prob(JB):                    6.25e-148
Kurtosis:                      11.781   Cond. No.                         1.00
==============================================================================

Notes:
[1] RÂ² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.